html {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 0;
  width: 1100px;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.woolrich {
  position: relative;
  float: left;
  height: 500px;
  width: 700px;
  margin-left: 20px;
  box-sizing: border-box;
}

.woolrich img {
  height: 500px;
  width: 700px;
  border-radius: 5px 0 0 5px;
}

.woolrich h1 {
  position: absolute;
  left: 300px;
  top: 10px;
  color: white;
}

.woolrich p {
  position: absolute;
  left: 240px;
  top: 60px;
  color: white;
  font-family: sans-serif;
}

.order {
  float: right;
  height: 500px;
  width: 298px;
  margin-right: 80px;
  margin-left: 0px;
  border: solid grey 0.5px;
  border-radius: 0 5px 5px 0;
}

.formBanner h2{
  text-align: center;
  background-color: white;
  border-bottom: solid grey 1px;
  margin-top: 10px;
  height: 30px;
}

.formBody {
  padding-left: 20px;
  height: 440px;
}

.formBody select {
  width: 200px;
  margin-left: 20px;
  height: 50px;
  margin-top: 15px;
}

.formBody button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
}

.formBody #cart {
  background-color: #729331;
  border-color: #557423;
}

.formBody #wish {
  background-color: #ff9966;
  border-color: #ff884d;
}

.formBody #checkout {
  background-color: #0099cc;
  border-color: #0086b3;
}

.buttons {
  margin-top: 50px;
}

.helpLink {
  color: #006699;
}

.gallery {
  clear: both;
  margin-left: 20px;
}

.gallery img:hover {
  border: solid black 1px;
}

.gallery img{
  float: left;
  width: 100px;
  height: 100px;
}

.productInformation {
  margin-top: 30px;
  clear: both;
}
